// Home Content

//parametric buttom
.buttonstyle(@backcolor, @edge, @textcolor,@howwide,@howhigh, @align, @textsize, @toppad){
  background-color: @backcolor;
  border-radius: @edge;
  color: @textcolor;
  width: @howwide;
  height: @howhigh;
  text-align: @align;
  font-size: @textsize; 
  padding-top: @toppad;
}


.home {

  padding-top: 100px;

  .intro {

    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }

    img{
      border-radius:4px;
    }
  
    @media @phone{

      img{
        height: 125px;
      }

    }

  }






  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
    }

    @media @phone{
      .mobilenone{
        display:none;
      }

      img{
        width:90%;
        margin:auto;
        margin-top: 20px;
        margin-bottom: 20px;
      }

    }


  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;

    .walk-text {
      width: 50%;

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 23px;
      }

      .btn {
        .buttonstyle(@btn-bg-color, 4px, @porcelain, 100px, 35px, center, 18px, 8px);
      }

      .btn:hover{
        .buttonstyle(@porcelain,4px, @btn-bg-color , 100px, 35px, center, 18px, 8px);
      }

    }

    .walk-img {
      width: 46%;
      margin-left: 4%;
      
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }

    @media @phone{
      flex-direction: column-reverse;
      padding: 15px;
      margin-top: 18px;
      padding-top: 0px;
      

      .walk-img{
        width:100%;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 8px;
      }

      .walk-text{
        padding: 5px;
        width: 100%;

        .p{
          margin-bottom: 25px;
        }

        .btn {
          .buttonstyle(@btn-bg-color, 4px, @porcelain, 100%, 74px, center, 18px, 30px);
        }
  
        .btn:hover{
          .buttonstyle(@porcelain, 4px, @btn-bg-color , 100%, 74px, center, 18px, 30px);
        }
        
      }


    }//media


  }//walk






}// home